* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root:not(.light) {
    --background-color: #044965;
    --primary-color: #05668d;
    --font-color: white;
    --heading-color: #060606;
    --secondary-font-color: rgba(226, 232, 240, 1);
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
:root.light {
    --background-color: #f8f9fa;
    --primary-color: #dee2e6;
    --font-color: #212529;
    --secondary-font-color: #495057;
  }

.theme-icon {
    margin-top: 0px;
    box-shadow: var(--box-shadow);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
  }
  :root:not(.light) .theme-icon .sun {
    display: none;
  }
  
  :root:not(.light) .theme-icon .moon {
    display: inline-block;
  }

  :root.light .theme-icon .sun {
    display: inline-block;
  }
  
  :root.light .theme-icon .moon {
    display: none;
  }
  
  .sr-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
body {

  }
  
.dark-mode {
    background-color: #222222;
    color: white;
  }

body {
    line-height: 1.5;
    background-color: #ffffff;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #404040;
    font-weight: 400;
}

a {
    background-color: transparent;
    transition: all 0.5s;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

.white-text {
    color: #ffffff;
}

img {
    max-width: 100%;
}

ul,
ol,
li {
    list-style: none;
}

p {
    color: #707070;
    font-size: 17px;
    line-height: 27px;
    margin: 0;
    padding: 0;
}

.position-relative {
    position: relative !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.btn-style {
    background: #fb811e;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    margin-left: 30px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.btn-style:hover {
    background: #009f4d;
    color: #ffffff;
}

.navbar-toggler {
    color: #ffffff;
}

/* ----------HEADER---------- */
header {
    background-color: transparent;
    transition: all 0.5s ease 0s;
    padding: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#main-header {
    height: auto;
}

#main-header h1 {
    color: #fb811e;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.nav-fixed .site-header .text{
    color: var(--font-color);
}

/* -----Light And Dark----- */
.nav-fixed {
    background-color: var(--font-color);
    padding: 0px;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    z-index: 99 !important;
    color: var(--heading-color);
}

.nav-fixed .fa-bars {
    color: var(--heading-color);
}

.nav-fixed ul#submenu {
    max-height: 400px;
}

.dark-mode-bg .nav-fixed {
    background-color: #060606;
}

.nav-fixed .navbar-brand {
    color: var(--heading-color);
}

.dark-mode-bg .nav-fixed .navbar-brand {
    color: #ffffff;
}

.fa-bars {
    margin-top: 25px;
    color: #ffffff;
    font-size: 30px;
}

.fa-bars:before {
    content: "ïƒ‰";
}

/* ------------------------- */
nav {
    display: flex;
    justify-items: space-between;
    flex-direction: row;
    align-items: center;
}

a.navbar-brand {
    font-size: 32px;
    color: #fb811e;
    padding: 0px;
    position: relative;
    transition: all 0.5s;
}

a.navbar-brand:hover {
    color: #060606;
}

.navbar-brand i {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 18px;
}

.navbar {
    padding: 0;
    justify-content: space-between;
}

.navbar .search {
    width: 200px;
    margin: 0 10px;
}

.search-right input[type="search"] {
    background: #ffffff url(../images/search.png) no-repeat 10px center;
    border: solid 1px #eeeeee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    transition: all 0.5s;
    cursor: pointer;
}

.search-right input[type="search"]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000000;
    background-color: #ffffff;
    cursor: auto;
    padding-right: 15px;
    outline: none;
}

.switchmode {
    margin-right: 1rem !important;
}

.switchmode-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 0px 0;
    margin-left: 20px;
    color: #ffffff;
}
.sun:hover,.moon:hover, .mode-container:hover   {
    color:#fb811e;
}

.moon {
    display: block;
    cursor: pointer;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
    color: #ffffff;
}

.moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    color: #ffffff;
}

.sun{
    /* display: block;
    cursor: pointer;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
    color: #ffffff; */

}

.nav-fixed .moon,
.nav-fixed .moon::after {
    color: #000000;
}

.item {
    color: #ffffff;

}

.sun {
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    cursor: pointer;
    width: 24px;
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

.sun::before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
    transform: rotate(-45deg);
    box-sizing: border-box;
    display: block;
    width: 24px;
}

.sun::after {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
    transform: rotate(45deg);
    box-sizing: border-box;
    display: block;
    width: 24px;
}

ul #menu {
    margin: 0;
    color: #ffffff;
    z-index: 99;
    font-size: 30px;
}

.nav-fixed ul #menu {
    color: #060606;
}

.dark-mode-bg .nav-fixed ul #menu {
    color: #ffffff;
}

ul #menu li {
    float: left;
    list-style-type: none;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}

ul #menu input {
    display: none;
}

ul #menu label {
    position: relative;
    display: block;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

ul.submenu {
    max-height: 400px;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #ffffff;
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 8em;
    right: 0;
    border-radius: 4px;
}

ul .submenu li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #060606;
}

nav ul li a.active {
    color: #fb811e !important;
}

nav ul li a {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

nav ul li a:hover {
    color: #fb811e !important;
}

/* ul.submenu li.current_page_item a {
    color: #fb811e;
} */

/* ----------END HEADER---------- */

/* ----------CAROUSEL---------- */
.carousel.col-md-5 {
    position: absolute;
    left: 10em;
    z-index: 1;
}

.carousel .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.carousel .banner-left {
    padding: 0;
    /* padding-top: 120px; */
    /* left: 10em; */
    position: absolute;
    left: 10em;
    top: -10em;
    width: 100%;
    z-index: 1;
    /* padding-left: 50px; */
}

.carousel .content {
    position: relative;
}

#owl-carousel{
    position: initial;
}
.owl-theme .owl-nav{
    display: none;
}
.owl-theme .owl-dots{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateY(-50%);
    color: #fb811e;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #fb811e;
}
.owl-theme .owl-dots .owl-dot span{
    background-color: #ffffff;
}
.carousel .banner-left h2 {
    color: #f4f4f4;
    font-size: 100px;
    font-weight: bold;
    margin: -0.5em;
    /* margin-top: -1.2em; */
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.carousel .banner-left h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bolder;
    margin: 0 -2em;
    color: #060606;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.carousel .banner-left p {
    font-size: 20px;
    /* padding-left: 30px; */
    margin-left: -60px;
}

.carousel .banner-right .radio {
    display: none;
    box-sizing: border-box;
    padding: 0;
    color: #404040;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.carousel .banner-right .image {
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
}

.carousel .banner-right .image .image-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
}

.carousel .banner-right .image .image-inner .image-slide {
    width: 20%;
    transition: all 0.5s ease-out;
}

.banner-right .banner1,
.banner-right .banner2,
.banner-right .banner3 {
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    padding: 40px 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    border-bottom-left-radius: 20px;
    z-index: 0;
}

.banner-right .banner1::before,
.banner-right .banner2::before,
.banner-right .banner3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 17%);
    z-index: -1;
    top: 0;
}

.carousel .banner1 {
    background-image: url(../images/b1.jpg);
}

.carousel .banner2 {
    background-image: url(../images/b4.jpg);
}

.carousel .banner3 {
    background-image: url(../images/b8.jpg);
}

.carousel .banner-right .wrapper {
    margin-right: 1em;
}

.carousel .banner-right h4 {
    color: #ffffff;
    margin-bottom: 0;
}

.carousel .banner-right span {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;

}

.carousel .banner-right p {
    color: #ffffff;
}

.carousel .manual-navigation {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    transition: all 0.5s ease-out;
}

.carousel .manual-navigation .manual-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block !important;
    margin: 0px 4px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/* ----------END CAROUSEL---------- */

/* ----------GROW---------- */
#grow {
    padding: 100px 0px;
}

.grow-title p:first-of-type {
    color: #fb811e;
    font-size: 40px;
    line-height: 1.0;
    font-weight: 700;
}

.grow-title h2 {
    font-size: 40px;
    font-weight: 600;
}

.grow-title p:last-of-type {
    color: #707070;
}

.grow-title button {
    background-color: #fb811e;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s;
}

.grow-title button a {
    color: #f4f4f4;
    /* font-size: 20px; */
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
}

.grow-title button:hover {
    background-color: #009f4d;
}

.grow-list .grow-item:nth-child(1) {
    grid-area: i1;
}

.grow-list .grow-item:nth-child(2) {
    grid-area: i2;
}

.grow-list .grow-item:nth-child(3) {
    grid-area: i3;
}

.grow-list .grow-item:nth-child(4) {
    grid-area: i4;
}

.grow-list {
    display: grid;
    grid-template-areas: " i1 i2"
        " i3 i4  ";
    gap: 1rem;
}

.grow-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.grow-item img {
    width: 30%;
}

.grow-item a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: 700;
    transition: all 0.75s;
}

.grow-item a:hover {
    color: #009f4d;
}

.grow-item:hover {
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

/* -----END GROW----- */

/* ----------CHOOSE---------- */
#service {
    padding: 100px 0px;
    background-color: #009f4d;
}

.service-content {
    position: relative;
}

.service-content h2 {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 200px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.service-title #title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
}

.service-title h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    line-height: 50px;
}

.service-title #textP-White {
    font-size: 1.25rem;
    font-weight: 300;
    color: #ffffff;
    margin-top: 20px;
}

.service-item p.btn {
    font-size: 15px;
    font-weight: 600;
    background-color: #009f4d40;
    border-radius: 30px;
    color: #009f4d;
    padding: 5px 25px;
}

.service-item p:last-of-type {
    color: #707070;
    font-size: 17px;
}

.card {
    border: #009f4d 1px solid;
    border-radius: 20px;
}

.service-item img {
    border-radius: 20px;
    width: 100%;
}

.service-item .card-body a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 650;
    font-size: 26px;
    transition: all 0.5s;
}
.service-item .card{
    background: var(--font-color);
}

.service-item .card-body a:hover {
    color: #009f4d;
}

/* -----END SERVICE----- */

/* @media (min-width: 992px) .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}